<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet
		library="css"
		name="w3.css" />
	<h:outputStylesheet
		library="css"
		name="w3_basic.css" />
	<h:outputStylesheet
		library="css"
		name="w3_black.css" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1" />
	<link
		rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Roboto" />
	<link
		rel="stylesheet"
		href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
	<title>Asd</title>
	<style>
html, body, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif;
}

.w3-sidebar {
	z-index: 3;
	width: 250px;
	top: 43px;
	bottom: 0;
	height: inherit;
}
</style>
</h:head>

<body>
	<h:form id="barform">
		<div class="w3-top">
			<div class="w3-bar w3-theme w3-top w3-left-align w3-large">
				<a
					class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1"
					href="javascript:void(0)"
					onclick="w3_open()"><i class="fa fa-bars" /></a>
				<h:commandLink
					action="index"
					class="w3-bar-item w3-button w3-theme-l1">Swag</h:commandLink>
			</div>
		</div>
	</h:form>

	<nav
		class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left"
		id="mySidebar"> <a
		href="javascript:void(0)"
		onclick="w3_close()"
		class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large"
		title="Close Menu"> <i class="fa fa-remove" />
	</a> <h:form id="menuform">
		<h4 class="w3-bar-item">
			<b>Menu</b>
		</h4>
		<ui:repeat
			var="mi"
			value="#{menuCtrl.menuItems}">
			<h:commandLink styleClass="w3-bar-item w3-button w3-hover-black"
				action="#{mi.getAction()}"
				value="#{mi.label}" />
		</ui:repeat>
	</h:form> </nav>

	<div
		class="w3-overlay w3-hide-large"
		onclick="w3_close()"
		style="cursor: pointer"
		title="close side menu"
		id="myOverlay" />

	<div
		class="w3-main"
		style="margin-left: 250px">
		<ui:insert name="content" />

		<footer id="myFooter">
		<div class="w3-container w3-theme-l2 w3-padding-32">
			<h4>Footer</h4>
		</div>

		<div class="w3-container w3-theme-l1">
			<p>
				Powered by <a
					href="https://www.w3schools.com/w3css/default.asp"
					target="_blank">w3.css</a>
			</p>
		</div>
		</footer>

		<!-- END MAIN -->
	</div>

	<f:verbatim>
		<script>
			// Get the Sidebar
			var mySidebar = document.getElementById("mySidebar");

			// Get the DIV with overlay effect
			var overlayBg = document.getElementById("myOverlay");

			// Toggle between showing and hiding the sidebar, and add overlay effect
			function w3_open() {
				if (mySidebar.style.display === 'block') {
					mySidebar.style.display = 'none';
					overlayBg.style.display = "none";
				} else {
					mySidebar.style.display = 'block';
					overlayBg.style.display = "block";
				}
			}

			// Close the sidebar with the close button
			function w3_close() {
				mySidebar.style.display = "none";
				overlayBg.style.display = "none";
			}
		</script>
	</f:verbatim>
</body>
<p:dialog
	id="statusDialog"
	widgetVar="statusDialogW"
	modal="true"
	closable="false"
	closeOnEscape="false"
	resizable="false">
	<p:outputLabel value="asd" />
</p:dialog>
</html>