<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/template/default.xhtml">
	<ui:define name="content">
		<div class="w3-row w3-padding-64">
			<div class="w3-twothird w3-container">
				<h1 class="w3-text-teal">Asd1</h1>
				<p>
					<p:panel>
						<p:outputLabel value="Asd" />
					</p:panel>
				</p>
			</div>
			<div class="w3-third w3-container">
				<p class="w3-border w3-padding-large w3-padding-32 w3-center">AD</p>
				<p class="w3-border w3-padding-large w3-padding-64 w3-center">AD</p>
			</div>
		</div>
	</ui:define>
</ui:composition>
</html>