@CHARSET "UTF-8";

html, body, h1, h2, h3, h4, h5, h6 {
	font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.w3-sidenav a, .w3-sidenav h4 {
	padding: 12px;
}

.w3-navbar a {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}